.container {
  background-image: url('https://wallpapers.com/images/hd/dark-phone-wooden-pattern-z2vpc7qi6c47jf7l.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
